# .env.example - generated with dotenvx

#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY_CI=""

# .env.ci
DB_URL=
DB_NAME=""
BASE_URL=""
DB_HOST=""
STRIPE_SKEY=""
FB_ADMIN=""
VITAL_API_BASE_URL=""
VITAL_API_KEY=""
NEXT_PUBLIC_STRIPE_PKEY=""
#/-------------------[Common keys]----------------------------/
#/            pthese remains same across dev and production   /
#/------------------------------------------------------------/
DB_USER=""
FB_PROJECT_ID=""
STRIPE_WEBHOOK_SECRET=""
DB_PW=""
FB_MESSAGING_SENDER_ID=""
RESEND_SECRET=""
AUTH_GOOGLE_SECRET=""
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
STREAM_APP_SECRET=""

#/-------------------------------------------------------------[NEXT_PUBLIC_ENV_VAR]------------------------------------------------------------/
#/                                                 public-browser exposed environment varibales                                                 /
#/       [how it works](https://nextjs.org/docs/app/building-your-application/configuring/environment-variables#loading-environment-variables)  /
#/----------------------------------------------------------------------------------------------------------------------------------------------/
NEXT_PUBLIC_FB_PROJECT_ID=""
NEXT_PUBLIC_FB_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FB_STORAGE_BUCKET=""
NEXT_PUBLIC_FB_AUTH_DOMAIN=""
NEXT_PUBLIC_FB_API_KEY=""
NEXT_PUBLIC_FB_APP_ID=""
NEXT_PUBLIC_GOOGLE_MAP_API=""
NEXT_PUBLIC_STREAM_APP_ID=""